
@{
    ViewBag.Title = "arizadetay";
    Layout = "~/Views/Shared/main.cshtml";
}

    <div style="margin-top:25px">
        <table id="tblarizadetay" class="table table-hover table-bordered" *>

            <thead>
                <tr>
                    <th scope="col" style="color:#fc6c05;font-size:16px">Arıza Tanımı</th>
                    <th scope="col" style="color:#fc6c05;font-size:16px">İşlem Tarihi</th>
                    <th scope="col" style="color:#fc6c05;font-size:16px" class="no-sort">Açıklama</th>
                    <th scope="col" style="color:#fc6c05;font-size:16px" class="no-sort">Durum</th>

                </tr>
            </thead>
            <tbody id="tbody">
            </tbody>
        </table>
    </div>
<script>
    $("#tblarizadetay").dataTable({
       
       "columnDefs": [{
            "targets": "no-sort",
            "orderable": false
        }],
         "searching": false 
        
       
    });
</script>